{{#each userContents}}
  <li class="item">
    <strong>{{{date}}}</strong>
    <p class="content">{{content}}</p>
    <a class="article" href="{{articleUrl}}" target="_blank">{{{articleTitle}}}</a>
  </li>
{{/each}}
{{{moreButton}}}